<div class="sidebar">
    <div class="logo-title">
        <div class="title">
            <%= link_to root_path do %>
              <%= image_tag ("logo@2x.png"), class: "logo"%>
            <% end %>
            <h1><a href="#">Hảo Trương</a></h1>
            <div class="description">
                <p>Trong cuộc đời này, muốn thấy cầu vồng... <br> phải chờ hết cơn mưa. </p>
            </div>
        </div>
    </div>
    <ul class="social-links animated fadeInDown">
        <li><a href="https://facebook.com/haotv03" target="_blank"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://facebook.com/haotv03" target="_blank"><i class="fab fa-instagram"></i></a></li>

    </ul>
    <div class="footer">
      <p>
        Theme <a target="_blank" href="https://github.com/Ben02/hexo-theme-Anatole">Anatole</a> <br>
        Language development<span>&nbsp;|&nbsp;</span>Ruby on Rails
      </p>
      <div class="by_farbox"><span>2019 Developed by Hảo Trương</span></div>
    </div>
</div>
<div class="main">
  <div class="page-top">
    <div class="nav nav-desktop">
      <ul>
        <li><a class="current" href="index.html">Cả bầu trời xàm xí</a></li>
        <li><a href="/">Am Hia(I'm Here)</a></li>
        <li><a href="/">Kết nối với tôi đi, please !</a></li>
      </ul>
    </div>
  </div>
  <div class="autopagerize_page_element">
    <div class="content">
      <div class="post animated fadeInDown">
          <div class="post-title">
              <h2><a href="/"><i class="fab fa-twitter"></i> Xin 1 đồng đi!</a></h2></div>
          <div class="post-content">
              <p>Tôi bị đắp chiếu mấy tháng rồi xin 1 đồng duy trì mạng sống đi các bạn nghìn đô, pờ li :)) </p>
          </div>
          <div class="post-footer">
              <div class="meta">
                  <div class="info"><i class="far fa-clock"></i><span class="date">31-05-2019</span></div>
              </div>
          </div>
      </div>
      <!-- <div class="pagination">
        <ul class="clearfix">
          <li class="next pagbuttons"><a class="btn" role="navigation" href="page/2/index.html"><i class="icon-right-outline"></i></a></li>
        </ul>
      </div> -->
    </div>
  </div>
</div>

