<%= link_to new_admin_about_path , class: "caption" do %>
  <%= content_tag :i, "", class: "fas fa-feather-alt"%> Create Post About Us
<% end %>
<br>
<br>
<div class="clearfix"></div>
<br>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th><%= t(".title") %></th> -->
      <th>Title</th>
      <th>Description</th>
      <th>Content</th>
      <th>Display</th>
      <th colspan="2"></th>
    </tr>
  </thead>
  <%= render @abouts %>
</table>

