.page-top .nav li {
  display: block;
}
.toggle-menu {
  display: none !important;
}
@media (max-width: 768px){
  .nav-mobile {
    display: none;
  }
  .page-top .nav li:not(:nth-child(3)) {
    display: none;
  }
  .toggle-menu {
    display: block !important;
    float: right;
  }
  .responsive {
    position: relative;
    background: #575e6c;
  }
  .responsive  ul li a {
    color: #fff !important;
  }
  .responsive .toggle-menu {
    position: absolute !important;
    right: 0;
    top: 10px;
  }
  .page-top .responsive li {
    display: block !important;
  }
  .page-top .responsive li:nth-child(3) {
    display: none !important;
  }
  .page-top .nav li:not(:last-child):after {
    border-right: 1px solid #575e6c !important;
  }
  .page-top .nav ul:after {
    display: block;
  }

}
