.page-top .nav li {
  display: block;
}
.toggle-menu {
  display: none !important;
}
.about-image img{
  width: 100%;
}
.about-content .description {
  font-weight: bold;
  color: #353e48;
  margin: 30px 0;
}

#logo {
  position: relative;
}

#logo:before, #logo:after {
  content:"";
  position:absolute;
  top:50%;
  width:10px;
  height:100%;
  transform:translateY(-50%);
  background-color:rgba(255,255,255,.75);
  z-index:999999999;
}

#logo:before{left:-5%;animation:light-left 4s infinite alternate linear}
#logo:after{right:-5%;animation:light-right 4s infinite alternate linear}

@keyframes light-left{0%{left:-5%;opacity:0}50%{left:50%;opacity:1}100%{left:105%;opacity:0}}
@keyframes light-right{0%{right:-5%;opacity:0}50%{right:50%;opacity:1}100%{right:105%;opacity:0}}

@media (max-width: 768px){
  .nav-mobile {
    display: none;
  }
  .page-top .nav li:not(:nth-child(3)) {
    display: none;
  }
  .toggle-menu {
    display: block !important;
    float: right;
  }
  .responsive {
    position: relative;
    background: #575e6c;
  }
  .responsive  ul li a {
    color: #fff !important;
  }
  .responsive .toggle-menu {
    position: absolute !important;
    right: 0;
    top: 10px;
  }
  .page-top .responsive li {
    display: block !important;
  }
  .page-top .responsive li:nth-child(3) {
    display: none !important;
  }
  .page-top .nav li:not(:last-child):after {
    border-right: 1px solid #575e6c !important;
  }
  .page-top .nav ul:after {
    display: block;
  }
  .mute.sidenote {
    position: relative !important;
    width: 100% !important;
    background: #f5f6fa !important;
    padding: 10px !important;
    float: none !important;
  }
}
.highlight {
  background: #222;
  color: #fff;
  padding: 15px;
  border-radius: 5px;
  .h1 {
    color: #e83e8c;
  }
  .nt {
    color: #fff;
  }
  .cp {
    color: #bc9458;
  }
}
