<div class="sidebar">
  <div class="logo-title">
    <div class="title">
      <div id="logo">
        <%= link_to root_path do %>
          <%= image_tag ("qrlogo.png"), class: "logo"%>
        <% end %>
      </div>
      <h1>Hảo Trương</h1>
      <div class="description">
        <p>Trong cuộc đời này, muốn thấy cầu vồng... <br> phải chờ hết cơn mưa. </p>
      </div>
    </div>
  </div>
  <ul class="social-links animated fadeInDown">
    <li><a href="https://facebook.com/haotv03" target="_blank"><i class="fab fa-facebook"></i></a></li>
    <li><a href="https://www.instagram.com/_haortruonq/" target="_blank"><i class="fab fa-instagram"></i></a></li>
  </ul>
  <div class="footer">
    <p>
      Theme <a target="_blank" href="https://github.com/Ben02/hexo-theme-Anatole">Anatole</a> <br>
      Language development<span>&nbsp;|&nbsp;</span>Ruby on Rails
    </p>
    <div class="by_farbox"><span>2019 Developed by Hảo Trương</span></div>
  </div>
</div>
